name: Build Modules (dev)
on:
  workflow_call:
    inputs:
      from_ci:
        type: boolean
        required: false
        default: true

  workflow_dispatch:

jobs:
  run:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Update config from update branch
        if: ${{ inputs.from_ci }}
        run: |
          if git checkout origin/update -- build.md; then
            UPDATE_CFG=$(./build.sh config.toml --config-update)
            if [ -n "$UPDATE_CFG" ]; then
              echo "$UPDATE_CFG" > config.json
            fi
          fi

      - name: Get next version code
        id: next_ver_code
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG=$(gh release list -L 1 --json tagName --jq '.[0].tagName' 2>/dev/null || echo "")

          if ! [[ "$TAG" =~ ^[0-9]+$ ]]; then
            TAG=0
          fi

          echo "NEXT_VER_CODE=$((TAG + 1))" >> "$GITHUB_OUTPUT"

      - name: Build modules/APKs
        run: if [ -f "config.json" ]; then ./build.sh config.json; else ./build.sh config.toml; fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: $GITHUB_REPOSITORY
          NEXT_VER_CODE: ${{ steps.next_ver_code.outputs.NEXT_VER_CODE }}

      - name: Collect build log
        id: get_output
        run: |
          DELIM="$(openssl rand -hex 8)"
          echo "BUILD_LOG<<${DELIM}" >> "$GITHUB_OUTPUT"
          cat build.md >> "$GITHUB_OUTPUT"
          echo "${DELIM}" >> "$GITHUB_OUTPUT"

      - name: Get latest Anddea patches tag
        id: anddea_ver
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PATCH_TAG=$(gh api repos/anddea/revanced-patches/tags -q '.[0].name' 2>/dev/null || echo "")
          if [ -n "$PATCH_TAG" ]; then
            echo "PATCH_VER=$PATCH_TAG" >> "$GITHUB_OUTPUT"
          fi

      - name: Upload modules to dev release
        uses: svenstaro/upload-release-action@v2
        with:
          body: ${{ steps.get_output.outputs.BUILD_LOG }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./build/*
          # If PATCH_VER exists -> "Anddea v3.15.0-dev.5"
          # If PATCH_VER is empty -> "Anddea Dev build <NEXT_VER_CODE>"
          release_name: Anddea ${{ steps.anddea_ver.outputs.PATCH_VER || format('Dev build {0}', steps.next_ver_code.outputs.NEXT_VER_CODE) }}
          tag: ${{ steps.next_ver_code.outputs.NEXT_VER_CODE }}
          file_glob: true
          overwrite: true
          prerelease: true
